input {
    display: block;
    margin-bottom: 5px;
    width: 50%;
    background-color: brown;
    color: white;
}

button {
    background-color: red;
    color: yellow;
}

form {
    background-color: violet;
    text-align: center;
}